body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

table, th, td {
    border: 1px solid;
  }

.relation{
    display:inline-block;
    margin:.5rem;
}
.relation-head{
    background-color:#316896;
    font-weight: bold;
    color:white;
    text-align: center;
    padding:5px 10px;
    font-size:14px;
}

.relation-body{
    line-height: 18px;
    background-color: white;
    padding:0 4px;
    font-size:12px;
}
.svg-diagram-note{
    display:inline-block;
    max-width: 150px;
    padding: 4px 6px;
    background-color: white;
    margin:3px;
    font-size:10px;
}
